  <a href="#main-content" class="skip-link">Skip to main content</a>

  <nav class="navbar navbar-expand-lg {{{navbarTheme}}} fixed-top" role="navigation" aria-label="Main navigation">
    <div class="container">
      <a class="navbar-brand" href="{{{homeUrl}}}" aria-label="mbiX Home">mbi<span>X</span></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto me-3 gap-1">
          <li class="nav-item"><a class="nav-link{{{activeHome}}}" href="{{{homeUrl}}}" data-i18n="nav_home">Home</a></li>
          <li class="nav-item"><a class="nav-link{{{activeInstall}}}" href="{{{installUrl}}}" data-i18n="nav_install">How to Install</a></li>
          <li class="nav-item"><a class="nav-link{{{activeAbout}}}" href="{{{aboutUrl}}}" data-i18n="nav_about">About</a></li>
          <li class="nav-item"><a class="nav-link{{{activeSubscription}}}" href="{{{subscriptionUrl}}}" data-i18n="nav_subscription">Subscription</a></li>
          <li class="nav-item"><a class="nav-link{{{activeHelp}}}" href="{{{helpUrl}}}" data-i18n="nav_help">Help Center</a></li>
        </ul>
        <a class="btn-pill-green" data-version-url data-i18n="nav_download">Download <i class="bi bi-download btn-arrow" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>
